*{
    margin: 0;
    padding: 0;
}

.box{
    transition-duration: 300ms;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.185);
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
}

.box0 > img{
    rotate: -45deg;
}

.box2 > img{
    rotate: -60deg;
}

body{
    height: 100vh;
    width: 100vw;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-image: linear-gradient(-45deg, blue, rgb(255, 0, 251));
}

main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 50vw;
    min-width: fit-content;
    height: 40vh;
    min-height: 180px;
}

main div{
    height: 50%;
    width: 20%;
    min-width: 100px;
    min-height: 100px;
}

.result div img, main div img{
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    object-fit: contain;
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1vh;
    height: 40vh;
}

footer div {
    align-self: center;
    height: 40vh;
    opacity: 0;
    position: fixed;
}

.tap {
    animation: go 300ms;
}

@keyframes go{
    0% { scale: 1;}
    50% { scale: 0.9;}
    100% { scale: 1;}
}